.nav__bar{
    grid-area: nav;
    background-color: rgba(154, 191, 194, 0.527);
}

.item{
    color: rgb(133, 201, 116);
    text-decoration: none;
}

.active{
    color: rgb(0, 7, 100);
    font-style: italic;
}
