.wrapper{
  display: grid;
  grid-template-areas: 
    "header header"
    "nav m_content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
}


.main__content{
  grid-area: m_content;
  background-color: rgb(209, 209, 209);
 
}
